body {
  overflow-x: hidden;
}

.about {
  color: #000000;
}

.carousel-item {
  max-width: 1250px;
  max-height: 900px;
}

.carousel-item img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
