<body class="bg-dark">
	<title id="head-title">About</title>
	<!-- About START -->
	<section class="">
		<div class="row d-flex justify-content-center">
			<div class="d-flex justify-content-center">
				<img src="/static/assets/42 (2).png" style="width: 10%;">
			</div>
			<div class="d-flex justify-content-center">
				<p class="text-light fs-1">Ping <span class="text-warning">Pong</span></p>
			</div>
			<div class="d-flex justify-content-center pb-5">
				<div class="col-1 col-lg-3"></div>

				<p class="text-light text-center fs-5">Ecole 42 İstanbul kampüsü öğrencileri tarafından geliştirilmiş
					olan fullstack bir projedir. Bu proje Ecole 42 öğrencileri için authentication sağlamasının yanı
					sıra dışarıdan bir kullanıcının da girişini mümkün kılar. Kaydı oluşturulan her kullanıcı turnuva
					oluşturabilir, nickname ile arkadaş ekleyebilir, turnuva içinde aynı klavye üzerinden Ping-Pong
					oyunu oynama ve isteyen kullanıcılar için AI yani karşısında computer varken oynama imkanı sunar.
					Bunlar dışında livechat ile arkadaşlarınla mesajlaşma özelliği de mevcut.
				</p>

				<div class="col-1 col-lg-3"></div>
			</div>
		</div>



		<!-- SLIDER START -->
		<section class="d-flex justify-content-center">
			<div id="carouselExampleIndicators" class="carousel slide slider" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</section>
		<!-- SLIDER END -->



		<!-- TEAM START -->
		<div class="bg-dark-subtle about py-3">
			<div class="mb-5">
				<p class="text-center fs-2 mb-2 fw-bold">Team</p>
				<p class="text-center fs-5 fw-lighter">Most talented and Skilled Individuals</p>
			</div>

			<div class="row d-flex justify-content-center">
				<!-- ayumusak -->
				<div class="col-1 p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/ayumusak.png" class="card-img-top rounded-circle mx-5 mb-3"
						style="width: 150px;">
					<div class="card-body">
						<h3 class="card-title text-center">Ahmet Kaan Yumuşakdiken</h3>
						<h5 class="card-title text-center"><span class="text-danger">Frontend Developer</span></h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/_AhmetYdk" target="_blank" class="mx-2 twitter">
								<img src="/static/assets/profile-photos/twitter-logo.svg" class="twitter"></a>
							<a href="https://www.linkedin.com/in/ahmet-kaan-yumusakdiken/" target="_blank"
								class="mx-2 linkedin">
								<img src="/static/assets/profile-photos/linkedin-logo.svg">
							</a>
							<a href="https://github.com/Kaano1" target="_blank" class="mx-2 github">
								<img src="/static/assets/profile-photos/github-logo.svg">
							</a>
						</div>
					</div>
				</div>

				<!-- emakas -->
				<div class="col-1 p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/emakas-pr.jpg" class="card-img-top rounded-circle mx-5 mb-3"
						style="width: 150px;">
					<div class="card-body">
						<h3 class="card-title text-center">Ensar Makas</h3>
						<h5 class="card-title text-center"><span class="text-danger">Backend Developer</span></h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/ensar_makas" target="_blank" class="mx-2 twitter">
								<img src="/static/assets/profile-photos/twitter-logo.svg"></a>
							<a href="https://www.linkedin.com/in/ensar-makas-a16b69199/" target="_blank"
								class="mx-2 linkedin">
								<img src="/static/assets/profile-photos/linkedin-logo.svg">
							</a>
							<a href="https://github.com/rasnesakam" target="_blank" class="mx-2 github">
								<img src="/static/assets/profile-photos/github-logo.svg">
							</a>
						</div>
					</div>
				</div>

				<!-- btekinli -->
				<div class="col-1 p-4" style="width: 18rem;">
					<img src="/static/assets/profile-photos/btekinli-pr.png"
						class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;">
					<div class="card-body">
						<h3 class="card-title text-center">Beyza Tekinli</h3>
						<h5 class="card-title text-center"><span class="text-danger">Frontend Developer</span>
						</h5>

						<div class="d-flex justify-content-center mt-5">
							<a href="https://twitter.com/beyzatdev" target="_blank" class="mx-2 twitter"><img
									src="/static/assets/profile-photos/twitter-logo.svg"></a>
							<a href="https://www.linkedin.com/in/beyzanur-tekinli/" target="_blank"
								class="mx-2 linkedin"><img src="/static/assets/profile-photos/linkedin-logo.svg"></a>
							<a href="https://github.com/b-tekinli" target="_blank" class="mx-2 github"><img
									src="/static/assets/profile-photos/github-logo.svg"></a>
						</div>

						<div class="col-1"></div>
					</div>
				</div>

				<div class="row bg-dark-subtle d-flex justify-content-center">
					<!-- haeris -->
					<div class="col-1 p-4" style="width: 18rem;">
						<img src="/static/assets/profile-photos/heris-pr.png"
							class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;" />
						<div class="card-body">
							<h3 class="card-title text-center">Hatice Nur Eriş</h3>
							<h5 class="card-title text-center"><span class="text-danger">Devops</span></h5>

							<div class="d-flex justify-content-center mt-5">
								<a href="https://www.instagram.com/erisshatice/" target="_blank"
									class="mx-2 twitter"><img
										src="/static/assets/profile-photos/instagram-logo.svg"></a>
								<a href="https://www.linkedin.com/in/hatice-eris-b82b69269/" target="_blank"
									class="mx-2 linkedin"><img
										src="/static/assets/profile-photos/linkedin-logo.svg"></a>
								<a href="https://github.com/hnur-eris" target="_blank" class="mx-2 github">
									<img src="/static/assets/profile-photos/github-logo.svg">
								</a>
							</div>
						</div>
					</div>

					<!-- fpektas -->
					<div class="col-1 p-4" style="width: 18rem;">
						<img src="/static/assets/profile-photos/fpektas.png"
							class="card-img-top rounded-circle mx-5 mb-3" style="width: 150px;" />
						<div class="card-body">
							<h3 class="card-title text-center">Faruk Pektaş</h3>
							<h5 class="card-title text-center"><span class="text-danger">QA Expert</span>
							</h5>

							<div class="d-flex justify-content-center mt-5">
								<a href="https://www.linkedin.com/in/farukpektas/" target="_blank"
									class="mx-2 linkedin">
									<img src="/static/assets/profile-photos/linkedin-logo.svg" />
								</a>	
								<a href="https://github.com/farukdll" target="_blank" class="mx-2 github">
									<img src="/static/assets/profile-photos/github-logo.svg">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- TEAM END -->
	</section>
	<!-- MAIN END -->
</body>