<body class="ai-body">
    <title id="head-title">AI Game</title>

    <img src="/static/assets/w.gif" class="w-gif">
    <img src="/static/assets/s.gif" class="s-gif">

    <div class="score">
        <p>
            <span class="spinner-grow spinner-grow-sm" style="margin-bottom: 17px;" aria-hidden="false"></span>
            player
        </p>
        <div class="player-score" id="player-score">0</div>
        :
        <div class="computer-score" id="computer-score">0</div>
        <p>
            computer
            <span class="spinner-grow spinner-grow-sm" style="margin-bottom: 20px;" aria-hidden="false"></span>
        </p>
    </div>

    <div class="game-container">
        <div class="paddle" id="leftPaddle" style="left: 15px; top: 300px;"></div>

        <div class="ball" id="ball" style="left: 620px; top: 340px;"></div>

        <div class="paddle" id="rightPaddle" style="right: 15px; top: 300px;"></div>
    </div>
</body>
