<body class="black-ground-color-two overflow-hidden">
	<title>Finish Match</title>

	<section class="row">
		<div class="col-1"></div>

		<div class="col-4">
			<h1 class="text-winner-head-render fw-bold d-flex justify-content-center my-5">YOU ARE A WINNER</h1>
			<img id="left-player-token" class="winner-profile-render z-0 position-absolute" src="/static/assets/profile-photos/emakas-pr.jpg">
			<img class="king-photo-render z-1 position-absolute" src="/static/assets/king.png" alt="">
		</div>

		<div class="col-3"></div>
		
		<div class="col-4">
			<div class="d-flex justify-content-center">
				<h1 class="text-loser-head-render fw-bold my-5">YOU ARE A LOSER</h1>
				<img class="rip-photo-render z-0 position-absolute" src="/static/assets/rip.png">
				<img class="flower-photo-render z-1 position-absolute mt-4" src="/static/assets/flower.png">
				<img id="right-player-token" class="loser-profile-render z-1 position-absolute mt-4"
					src="/static/assets/profile-photos/btekinli-pr.png">
			</div>
		</div>
	</section>
</body>