<body class="bg-black">
    <title>Match</title>
    <h1 class="text-white text-center my-4 fw-bolder col-12">Match</h1>

    <section class="d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-around col">
            <div class="col-1"></div>
            <!--Left-->
            <div class="text-center col-3">
                <img src="/static/assets/pp.png" id="left-photo" class="my-4 match-img-circle border border-white">
                <button id="left-expected" class="btn btn-secondary btn-l match-button" data-bs-toggle="modal"
                    data-bs-target="#left-side">
                    <p id="left-ready-button" class="text-white match-font-size fw-bolder px-3 match-text-size">Get
                        Ready!</p>
                </button>
            </div>
            <!--Tennis-->
            <div id="match-tennis" class="match-tennis-show text-center col-4">
                <img class="match-img-circle" src="/static/assets/login-rush-42.png">
            </div>
            <!--Snipped-->
            <div id="match-snipped" class="spinner-border text-dark match-spinner-response" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <!--Right-->
            <div class="text-center col-3">
                <img id="right-photo" src="/static/assets/pp.png" class="my-4 match-img-circle border border-white">
                <button id="right-expected" class="btn btn-warning btn-l match-button" data-bs-toggle="modal"
                    data-bs-target="#right-side">
                    <p id="right-ready-button" class="text-white match-font-size fw-bolder px-3 match-text-size">Get
                        Ready!</p>
                </button>
            </div>
            <div class="col-1"></div>
        </div>

        <!--Right Side-->
        <div class="modal fade" id="right-side" tabindex="-1" aria-labelledby="right-side-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-dark" id="right-side-label">What's your user information</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark">

                        <form id="form-away" class="form-away">
                            <div>
                                <label for="right-match-nickname" class="col-form-label">Your Username:</label>
                                <input type="text" class="form-control form-away-username" id="right-input" autocomplete="on">
                            </div>
                            <div>
                                <label for="right-match-playcode" class="col-form-label"
                                    autocomplete="on">PlayCode:</label>
                                <input type="password" class="form-control" id="right-playcode">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="form-away" class="btn btn-light" data-bs-dismiss="modal">Ready</button>
                    </div>
                </div>
            </div>
        </div>


        <!--Left Side-->
        <div class="modal fade" id="left-side" tabindex="-1" aria-labelledby="left-side-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-dark" id="left-side-label">What's your user information</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-danger">

                        <form id="form-home" class="form-home">
                            <div>
                                <label for="left-match-nickname" class="col-form-label">Your Username:</label>
                                <input id="left-input" type="text" class="form-control form-home-username" autocomplete="on"
                                    id="left-match-nickname">
                            </div>
                            <div>
                                <label for="left-match-playcode" class="col-form-label"
                                    autocomplete="on">PlayCode:</label>
                                <input id="left-playcode" type="password" class="form-control" id="left-match-playcode">
                            </div>
                        </form>

                        <script>

                            async function takeMatchForTournament() {
                                let searchParam = new URLSearchParams(location.search)
                                if (searchParam.has("match")) {
                                    let matchCode = searchParam.get("match")

                                    console.log("bendesin");
                                    let data = await fetch(`http://localhost/api/matches/code/${matchCode}`)
                                        .then((response) => response.json())
                                        .catch(() => console.log("error match-code"));
                                    console.log("takeUrlData response: ", data);
                                    let formHome = document.getElementsByClassName("form-home")[0]
                                    let usernameHome = formHome.getElementsByClassName("form-home-username")[0]
                                    let avatarHome = document.getElementById("left-photo")
                                    usernameHome.setAttribute("value", data.home.user.username)
                                    usernameHome.setAttribute("readonly", true)
                                    avatarHome.src = data.home.user.avatarURI

                                    let formAway = document.getElementsByClassName("form-away")[0]
                                    let usernameAway = formAway.getElementsByClassName("form-away-username")[0]
                                    let avatarAway = document.getElementById("right-photo")
                                    usernameAway.setAttribute("value", data.away.user.username);
                                    usernameAway.setAttribute("readonly", true);
                                    avatarAway.src = data.away.user.avatarURI;
                                }
                            }

                            (function () {
                                let searchParam = new URLSearchParams(window.location.search);

                                let formHome = document.getElementsByClassName("form-home")[0]
                                // formHome.addEventListener('submit', (e) => {
                                //     e.preventDefault()

                                // })
                                if (searchParam.has("match"))
                                {
                                    console.log("takeMatch girdi");
                                    takeMatchForTournament();
                                }   
                                else {
                                    console.log("Match girdi");
                                    let input_username = formHome.getElementsByClassName("form-home-username")[0]
                                    let left_photo = document.getElementById("left-photo");
                                    let data = JSON.parse(localStorage.getItem(0));
                                    let username = data.user.username
                                    let userphoto = data.user.avatarURI;

                                    input_username.setAttribute("value", username);
                                    input_username.setAttribute("readonly", true);
                                    left_photo.src = userphoto;
                                }

                            })()

                        </script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="form-home" class="btn btn-light" data-bs-dismiss="modal">Ready</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>