<body class="pvp-body">
  <title>PvP Game</title>

  <img src="/static/assets/w.gif" class="w-gif">
  <img src="/static/assets/s.gif" class="s-gif">
  
  <div class="score">
    <p>
      <span class="spinner-grow spinner-grow-sm" style="margin-bottom: 17px;" aria-hidden="false"></span>
      <span id="player-1">emakas</span>
    </p>
    <div class="player1-score" id="player1-score">0</div>
    :
    <div class="player2-score" id="player2-score">0</div>
    <p id="player-2">
      <span id="player-2">btekinli</span>
      <span class="spinner-grow spinner-grow-sm" style="margin-bottom: 20px;" aria-hidden="false"></span>
    </p>
  </div>

  <div class="game-container">
    <div class="paddle" id="leftPaddle" style="left: 15px; top: 300px;"></div>
    
    <div class="ball" id="ball" style="left: 620px; top: 340px;"></div>
    
    <div class="paddle" id="rightPaddle" style="right: 15px; top: 300px;"></div>
  </div>

  <img src="/static/assets/up.gif" class="up-gif">
  <img src="/static/assets/down.gif" class="down-gif">
</body>
