<body class="score-body score-bg-page overflow-scroll example">
    <title>Score</title>

    <section
        class="d-flex flex-wrap pe-lg-5 h-100 pe-md-3 pe-sm-1 me-lg-5 me-md-3 me-sm-1 justify-content-evenly animate">
        <div class="d-flex flex-column align-items-center">
            <img class="score-img" src="/static/assets/tr-score-logo.png" />
        </div>

        <div class="align-self-end">
            <div class="d-flex justify-content-center mb-2">
                <img id="score-4" class="score-img rounded-3 shadow border border-2"
                    src="/static/assets/profile-photos/emakas-pr.jpg" width="90%" height="90%" />
            </div>
            <div class="bg-info pb-2 bg-info-size"></div>
            <div class="bg-info pb-2 bg-info-size"></div>
        </div>


        <div class="align-self-end">
            <div class="d-flex justify-content-center mb-2">
                <img id="score-2" class="score-img rounded-3 shadow border border-2 border-primary"
                    src="/static/assets/profile-photos/ayumusak.png" />
            </div>
            <div class="bg-danger pb-2 bg-info-size"></div>
            <div class="bg-danger pb-2 bg-info-size"></div>
            <div class="bg-danger pb-2 bg-info-size"></div>
            <div class="bg-danger pb-2 bg-info-size"></div>
        </div>

        <div class="align-self-end">
            <div class="d-flex justify-content-center mb-2">
                <img id="score-1" class="score-img rounded-3 shadow border border-2 border-success"
                    src="/static/assets/profile-photos/emakas-pr.jpg" width="90%" height="90%" />
            </div>
            <div class="bg-success pb-2 bg-info-size"></div>
            <div class="bg-success pb-2 bg-info-size"></div>
            <div class="bg-success pb-2 bg-info-size"></div>
            <div class="bg-success pb-2 bg-info-size"></div>
            <div class="bg-success pb-2 bg-info-size"></div>
        </div>

        <div class="align-self-end">
            <div class="d-flex justify-content-center mb-2">
                <img id="score-3" class="score-img rounded-3 shadow border border-2 border-warning"
                    src="/static/assets/profile-photos/btekinli-pr.png" width="90%" height="90%" />
            </div>

            <div class="bg-warning py-2 bg-info-size"></div>
            <div class="bg-warning py-2 bg-info-size"></div>
            <div class="bg-warning py-2 bg-info-size"></div>
        </div>
    </section>
</body>